# okasha sameer

# 2.1

# Expressions,Variables,And Assignments

In [ ]:
algebraic expressions and functions

In [3]:
print(3+7)
print(3*2)
print(5/2)
print(4/2)

10
6
2.5
2.0

In [22]:
print(2 * 3 + 1)
print((3 + 1) * 3)
print(4.321 / 3 + 10)
print(4.321 / (3 + 10))

7
12
11.440333333333333
0.3323846153846154

In [23]:
print(2 ** 3)
print(2 ** 4)
print(14 // 3)
print(14 % 3)

8
16
4
2

In [29]:
print(abs(-4))
print(abs(4))
print(abs(3.2))

4
4
3.2

In [41]:
min (6,-2)

6

In [40]:
max(6, -2)

6

## practice problems 2.1

In [42]:
# 2.1(a)

x = (1,2,3,4,5)
sum  = (1+2+3+4+5)
print(sum)

15

In [45]:
# 2.1(b)
sana_age = eval(input("Enter sana_age:"))
mark_age = eval(input("Enter mark_age:"))
fatima_age = eval(input("Enter fatima_age:"))
print(avg)

Enter sana_age:23
Enter mark_age:19
Enter fatima_age:31
(23, 12, 13)

In [47]:
# 2.1(c)
print(73 * 403)

29419

In [48]:
# 2.1(d)
print(403 / 73)

5.52054794520548

In [51]:
# 2.1(e)
print(2 ** 10)

1024

In [53]:
# 2.1(f)
sara_height = eval(input("Enter sara_height:"))
mark_height = eval(input("Enter mark_height:"))
print (mark_height - sara_height)

Enter sara_height:54
Enter mark_height:57
3

In [57]:
# 2.1(g)
min(34.99, 29.95, 31.50)

29.95

# boolean expressions and operators

In [64]:
2<3

False

In [60]:
5-1>2+1

True

In [61]:
3<2

False

In [65]:
3 ==3 
3 + 5 == 4 + 4

True

In [70]:
3 >= 4

False

In [69]:
3 != 4

True

# practice problem 2.2

In [95]:
# 2.2(a)
2 + 2 < 4

False

In [77]:
# 2.2(b)
7 // 3 == 1 + 1

True

In [93]:
# 2.2(c)
3 ** 2+ 4 ** 2 == 25

True

In [94]:
# 2.2(d)
2 + 4 + 6 == 12

True

In [105]:
# 2.2(e)
1387 // 19 == 19

False

In [104]:
# 2.2(f)
31 // 2 ==2

False

In [109]:
# 2.2(g)
34.99,29.95,31.50 >= 31.50

(34.99, 29.95, True)

# practice problems 2.3

In [138]:
# 2.3(a)
a = 3

# strings

In [ ]:
# 2.3(b)
b = 4

In [141]:
# 2.3(c)
a = 3
b = 4
a * a + b * b

25

In [126]:
print("hello pakistan")
s == ("hello")

hello pakistan

True

In [129]:
s != ("pakistan")

True

In [132]:
s == s

True

In [133]:
t = 'pakistan'
s != t

True

In [134]:
s == t

False

In [135]:
s < t

True

In [136]:
s > t

False

# practice problem 2.4

In [145]:
s1 = 'ant'
s2 = 'bat'
s3 = 'cod'
# 2.4(a)
1 * s1,s2,s3

('ant', 'bat', 'cod')

In [153]:
# 2.3(b)
10 * s1

'antantantantantantantantantant'

In [154]:
# 2.3(c)
1 * s1,2 * s2,3 * s3

('ant', 'batbat', 'codcodcod')

In [158]:
# 2.3(d)
2 * s2 + 1 * s3,2 * s2 + 1 * s3,2 * s2 + 1 * s3,2 * s2 + 1 * s3,2 * s2 + 1 * s3

('batbatcod', 'batbatcod', 'batbatcod', 'batbatcod', 'batbatcod')

# indexinig operator

In [159]:
s[0]

'h'

In [163]:
s[4]

'o'

# practice problem 2.5

In [174]:
s = 'pakistan'
# 2.5(a)
s[0]

'p'

In [172]:
s = 'pakistan'
# 2.5(b)
s[1]

'a'

In [173]:
# 2.5(c)
s[4]

's'

In [175]:
# 2.5(d)
s[6]

'a'

In [179]:
s[-2]

'a'

In [180]:
s[-1]

'n'

# list and tuples

In [181]:
pets = ['goldfish', 'cat', 'dog']

In [182]:
pets[1]

'cat'

In [183]:
pets[0]

'goldfish'

In [184]:
pets[-1]

'dog'

In [185]:
pets + pets

['goldfish', 'cat', 'dog', 'goldfish', 'cat', 'dog']

In [186]:
pets * 2

['goldfish', 'cat', 'dog', 'goldfish', 'cat', 'dog']

In [188]:
'rabbit' in pets

False

In [189]:
'dog' in pets

True

In [213]:
lst = [23.99, 19.99, 34.50, 120.99]
print(min(lst))
print(max(lst))

19.99
120.99

# practice problem 2.6

In [219]:
words = ['bat', 'ball', 'barn', 'basket', 'badminton']
print(min(words))
print(max(words))

badminton
bat

# tuples or "imutable lists"

In [221]:
days = ('mo', 'tu', 'we', 'th')
print(days)

('mo', 'tu', 'we', 'th')

In [222]:
'fr' in days

False

In [223]:
week = days + ('fr', 'sa', 'su')
print(week)

('mo', 'tu', 'we', 'th', 'fr', 'sa', 'su')

In [231]:
len(week)

7

In [233]:
week * 2

('mo',
 'tu',
 'we',
 'th',
 'fr',
 'sa',
 'su',
 'mo',
 'tu',
 'we',
 'th',
 'fr',
 'sa',
 'su')

In [234]:
days[2]

'we'

In [236]:
days[3]

'th'

# list and tuple methods

In [237]:
numbers = [6, 9, 4, 22]
min (numbers)

4

In [239]:
pets.append('guinea pig')
print(pets)

['goldfish', 'cat', 'dog', 'guinea pig', 'guinea pig']

In [240]:
pets.remove('dog')
print(pets)

['goldfish', 'cat', 'guinea pig', 'guinea pig']

In [241]:
pets.append('tiger')
print(pets)

['goldfish', 'cat', 'guinea pig', 'guinea pig', 'tiger']

In [242]:
pets.remove('guinea pig')
print(pets)

['goldfish', 'cat', 'guinea pig', 'tiger']

In [243]:
pets.sort()
print(pets)

['cat', 'goldfish', 'guinea pig', 'tiger']

In [248]:
lst = [4, 2, 8, 5]
lst.sort()
print(lst)

[2, 4, 5, 8]

# practice problem 2.7

In [ ]:
# 2.7(a)
grades = [9, 7, 7, 10, 3, 9]